/* BODY SYLES */
body {
    margin: 0;
    background-color: bisque;
}

/* HEADER STYLES */
header {
    display: flex;
    flex-direction: column;
}

.headerInfo {
    display: flex;
    justify-content: space-between;
}

h1 {
    margin: 0 16px;
}

p {
    margin: 0 16px 8px;
}

button {
    margin: 16px 16px 0 0;
    font-size: 16px;
}

/* GRID CONTAINER STYLES */
.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 675px;
    height: 675px;
    margin: 24px auto;
    background-color: white;
    object-fit: contain;
}

.box {
    flex: auto;
    outline: solid 1px;
    width: 42.1875px;
    height: 42.1875px;

}